@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.text-ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gradient-text {
  font-family: Arial, sans-serif;
  font-size: 80px;
  font-weight: bold;
  background: linear-gradient(90deg, #BBAFFF, #A0055D); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  text-transform: capitalize;
}

.text-80{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 68px;
}

.bg-gray{
  background-color: #1B1B1F;
}

.my-bg-black {
  background-color: #121215 !important;
}

.custom-collapse {
  background-color: #121215 !important;
  border: 0px solid #ddd;   
  padding: 10px;            
}

.custom-collapse .card-body {
  background-color: #121215 !important;
  color: #fff;                         
  border: none;                         
}


.btn-gray {
  color: #1B1B1F;
}

body, html {
  margin: 0; 
  padding: 0;
  overflow-x: hidden; 
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1B1B1F;
  z-index: 1030; 
}
.content {
  margin-top: 150px;
}

.content-tool {
margin-top: 120px;
}

.box {
  border: 0px solid black;
  border-radius: 15px; 
  background-color: #202127;
}

.photo-box {
  border: 2px solid  white;
}

.text-22 {
  font-size: 22px;
}

.text-18 {
  font-size: 18px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.text-gray {
  color:#9A9A9B;
}

.text-blue {
  color: #9BB1FF;
}

.no-decorate {
text-decoration: none;
}

.list-group {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden; 
  height: 100vh;
}

.list-group::-webkit-scrollbar {
  width: 8px; 
}

.list-group::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.list-group::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 10px; 
  border: 2px solid transparent; 
  background-clip: padding-box;
}

.list-group::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; 
}

.text-red {
  color: #A0055D;
}


.btn-purple{
    background:#7c3aed !important ;       /* purple */
    border-color:#7c3aed !important ;
    color:#fff !important ;
  }
  .btn-purple:hover{
    background:#6d28d9 !important ;
    border-color:#6d28d9 !important ;
    color:#fff !important ;
  }
  .token-meta{
    font-size:14px;
  }
  .token-desc{
    font-size:14px;
    line-height:1.35;
  }